/*

  Scroll bar
______________________________________________________________
*/
.js-coll-scrollbar {
    position : absolute;
    overflow : hidden;
    top      : 0px;
    width    : 12px;
    height   : 100%;
    right    : 0px;
    z-index  : 110;
}

.coll-mobile .js-coll-scrollbar {
    display : none;
}

.js-coll-scrollbar-content {
    position : absolute;
    right    : 0px;
    width    : 12px;
    height   : 1000px;
}

.ps-container>.ps-scrollbar-y-rail {
    right:0 !important;
    width:12px;
}

.ps-container .ps-scrollbar-y-rail {
    position:absolute;
    border-radius: 0;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    width            : 12px;
    background-color : rgba(0, 0, 0, 0.2);
}

.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y {
    border:none;
    background-color : rgba(0, 0, 0, 0.5);
}

.coll-safari8 .coll-section-background {
    -webkit-backface-visibility : visible;
    -webkit-transform           : none;
}

.coll-safari8 .section-content {
    -webkit-backface-visibility : visible;
    -webkit-transform           : none;
}

.coll-safari8 .coll-page-section {
    -webkit-backface-visibility : hidden;
    -webkit-transform           : translateZ(0);
}